@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Press+Start+2P&family=Trispace&display=swap');

body
{
    background-image: url(./img/backdrop.gif);
    background-size: 60%;
    background-attachment: fixed;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', sans-serif;
}

header
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    color: #ECFC04;
    font-size: 30px;
    padding: 20px;
}

.instructions
{
    font-family: 'Trispace', sans-serif;
    padding: 30px;
}

.selection-box
{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-around;
    max-width: 1500px;
    background-color: #B2FFFF50;
    border-radius: 8px;
    padding: 20px;
}

button
{
    background-color:#BCAFDC;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    font-family: 'Press Start 2P', sans-serif;
    color: #301E51;
    border: #301E51;
    border-width: 8px;
    border-style:double;
}

.gifbutton-box
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: flex-start;
    max-width: 30%;
}

.rock-gif
{
    max-width: 50%;
}

.paper-gif
{
    max-width: 35%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.scissors-gif
{
    max-width: 50%;
    padding-top: 20px;
}

