@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Press+Start+2P&family=Trispace&display=swap');

body
{
    background-image: url(./img/backdrop.gif);
    background-size: 60%;
    background-attachment: fixed;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', sans-serif;
}

header
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    color: #ECFC04;
    font-size: larger;
    padding: 20px;
}

.instructions
{
    font-family: 'Inconsolata', sans-serif;
    padding: 20px;
}

.button-box
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 1500px;
    min-width: 50%;
    background-color: #B2FFFF30;
    border-radius: 8px;
    padding: 20px;
}

.btn
{
    background-color: #92B0AE;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    font-family: 'Trispace', sans-serif;
    color: #301E51;
    border: #301E51;
    border-width: 8px;
    border-style:double;
}